.component-home {
    background-color: #344055;
    height: 100vh;
    .nav {
        display: flex;
        background-color: $btn-blue;
        align-items: center;
        padding: 1rem;
        color: #fff;
        justify-content: space-between;
        .navbar-logo {
            h2 {
                font-size: 1.75rem;
            }
        }
        .nav-links {
            list-style: none;
            display: flex;
            .link {
                padding-right: 1rem;
                font-size: 1.25rem;
                letter-spacing: 2px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .property-view {
        height: 89.5vh;
        display: flex;
        .property-controls {
            width: 30%;
            border: 1px solid white;
            height: 100%;
            .controls-menu{
                display: flex;
                height: 12%;
                .menu-tab{
                    color: #fff;
                    font-size: 1.35rem;
                    border: 1px solid $btn-grey;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .active{
                   background-color: #2E6B8D;
                }
            }
        }
        .property-list{
            width: 70%;
            height: 100%;
            border: 1px solid red;
            .property-header{
                height: 12%;
                border: 1px solid green;
                padding: 0 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3{
                    color: #fff;
                    font-size: 2rem;
                }
                h6{
                    color: #fff;
                    font-size: 1rem;
                }
            }
        }
    }
}