.component-home {
    background-color: #344055;
    height: 100vh;
    .nav {
        display: flex;
        align-items: center;
        background-color: $btn-blue;
        align-items: center;
        padding: 1rem;
        color: #fff;
        justify-content: space-between;
        .navbar-logo {
            h2 {
                font-size: 1.75rem;
            }
        }
        .nav-links {
            list-style: none;
            display: flex;
            .link {
                padding-right: 1rem;
                font-size: 1.25rem;
                letter-spacing: 2px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .property-view {
        height: 89.5vh;
        display: flex;
        .property-controls {
            width: 30%;
            border: 1px solid white;
            height: 100%;
            .controls-menu {
                display: flex;
                height: 12%;
                .menu-tab {
                    color: #fff;
                    font-size: 1.35rem;
                    border: 1px solid $btn-grey;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .active {
                    background-color: #2E6B8D;
                }
            }
        }
        .property-list-container {
            width: 70%;
            height: 100%;
            border: 1px solid red;
            overflow: auto;
            .property-header {
                height: 12%;
                border: 1px solid green;
                padding: 0 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3 {
                    color: #fff;
                    font-size: 2rem;
                }
                h6 {
                    color: #fff;
                    font-size: 1rem;
                }
            }
            .property-list {
                padding: 1rem 0;
                color: #fff;
                .property {
                    height: 27vh;
                    width: 95%;
                    margin: 0 auto;
                    display: flex;
                }
                .property-img {
                    height: 100%;
                    width: 25%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .property-details {
                    display: flex;
                    width: 75%;
                    h5 {
                        text-align: center;
                        font-size: 1.25rem;
                    }
                    p {
                        margin-top: 0.35rem;
                        font-size: 1.1rem;
                    }
                    &>div {
                        padding: 0.75rem;
                        border: 1px solid $btn-grey;
                    }
                    .property-address {
                        width: 32%;
                    }
                    .property-rent {
                        width: 20%;
                    }
                    .property-tenants {
                        width: 40%;
                    }
                    .property-actions {
                        border: 1px solid $btn-grey;
                        ;
                        width: 8%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .action {
                            &:hover {
                                cursor: pointer;
                            }
                            i {
                                font-size: 1.5rem;
                            }
                        }
                        .action:first-child {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
}