.component-landing-page {
    .header {
        background-image:  url('../assets/images/bg-main3.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        .header-content {
            .header-logo {
                text-align: center;
                padding-top: 1rem;
                margin-bottom: 5%;
                h1 {
                    margin: 0;
                    font-size: 4rem;
                    color: white;

                }
            }
            .header-form{
                background-color: rgba(0,0,0,0.9);
                width: 50%;
                height: 70vh;
                margin: 0 auto;
                color: white;
                padding: 2rem;

                .header-form-type{
                    display: flex;
                    .form-controls{
                        background-color: #4D5765; 
                        width: 50%;
                        text-align: center;
                        padding: 12px;
                        font-size: 1.25rem;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .signupActive, .loginActive{
                        background-color: #00B795;
                    }
                }
                .header-form-title{
                    text-align: center;
                    margin: 1.5rem;
                    font-size: 1.6rem;
                }

                .header-form-body{
                    input{
                        padding: 12px 6px;
                        background-color: transparent;
                        border: 1px solid grey;
                        margin-bottom: 0.8rem;
                    }
                    .input-name-container{
                        display: flex;
                        justify-content: space-between;
                        input{
                            width: 48%;
                        }
                    }
                    .input-container{
                        width: 100%;
                        input{
                            width: 100%;
                        }
                    }
                }
                .header-form-footer{
                    text-align: center;
                    width: 75%;
                    margin: 0 auto;
                    margin-top: 15px;
                    padding: 10px;
                    background-color: #00B795;
                    h4{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}