.nav {
  display: flex;
  height: 10.5vh;
  align-items: center;
  background-color: $nav-blue;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  .link {
    &,
    &:link,
    &:visited {
      background: transparent;
      border: none;
      text-decoration: none;
      padding-right: 1rem;
      font-size: 1.25rem;
      letter-spacing: 2px;
      color: $light;
      transition: all 0.5s;
    }
    &:hover,
    &:active {
      cursor: pointer;
      color: $gold;
    }
  }
  .navbar-logo {
    display: flex;
    align-items: center;
    h1 {
      margin: 0;
    }
    .link {
      font-size: inherit;
      padding-bottom: 0;
    }
  }
  .nav-links {
    list-style: none;
    display: flex;
  }
}
