.component-property-wizard {
    height: 88%;
    padding: 2vh 0 3vh 0;
     overflow-y: auto;
    .wizard-step-title {
        text-align: center;
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem 0;
    }
    .input-group:nth-child(1n+2) {
        margin-top: 5%;
    }
    .input-group {
        h6 {
            color: #fff;
            font-size: 1.25rem;
            margin-bottom: 1%;
        }
        input, select {
            width: 100%;
            border-radius: 5px;
            border: none;
            padding: 8px 3px;
        }
        select{
           
        }
    }
    .wizard-steps {
        height: 10%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        .active {
            background-color: #09814A;
        }
        .hr {
            width: 10%;
            border: 1px solid #99A2B2;
        }
        .icon-container {
            border: 2px solid #99A2B2;
            height: 110%;
            width: 30%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 1.5rem;
            }
        }
    }
    .wizard-controls {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 7%;
        button:nth-child(2) {
            margin-left: 20%;
        }
        button {
            width: 40%;
            font-size: 1.2rem;
            padding: 5px;
            border: none;
            border-radius: 5px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .step1, .step2, .step3 {
        width: 90%;
        margin: 0 auto;
    }
    .step3 {
        p {
            color: #fff;
            text-align: center;
            font-size: 0.8rem;
            position: relative;
            bottom: 8px;
        }
    }
    .step4 {
        width: 90%;
        margin: 0 auto;
        .property-img {
            .property-img-content {
                position: relative;
                img {
                    height: 35vh;
                    width: 100%;
                    border: 1px dashed lightgray;
                }
                .property-img-buttons {
                    position: absolute;
                    right: 1px;
                    bottom: 5px; // display: flex;
                    // justify-content: flex-end;
                    button {
                        padding: 5px 10px;
                        border: none;
                        &:hover {
                            cursor: pointer;
                            color: red;
                        }
                        i {
                            font-size: 1.25rem;
                            color: inherit;
                        }
                    }
                }
            }
            .dropzone {
                height: 35vh;
                margin: 0 auto;
                display: flex;
                align-items: center;
                border: 1px dashed lightgray;
                &:hover {
                    cursor: pointer;
                }
                p {
                    text-align: center;
                    color: #99A2B2;
                    font-size: 1.25rem;
                }
            }
        }
    }
    .step5 {
        width: 90%;
        margin: 0 auto;
        .property-img {
            height: 30vh;
            width: 100%;
            margin: 5% 0;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .property-section {
            border-top: 1px solid #99A2B2;
            border-bottom: 1px solid #99A2B2;
            padding: 0.5rem 0;
            h6 {
                color: #fff;
                font-size: 1.15rem;
                text-align: center;
                margin-bottom: 0.5rem;
            }
            .property-content {
                p {
                    color: #fff;
                    
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}