.component-workOrders {
  display: flex;
  color: $light;
  .pagination {
    height: 9%;
    float: none;
    margin: 0 auto;
  }
  .control-panel {
    width: 25%;
    min-height: 89vh;
    .control-panel-header {
      display: flex;
      height: 12%;
      border-bottom: 1px solid $btn-grey;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 1.75rem;
      }
      h5 {
        position: relative;
        display: flex;
        color: lightgray;
        align-items: center;
        position: relative;
        position: relative;
        top: 0.47vh;
        margin-left: 0.5rem;
      }
    }
    .controls {
      padding: 1rem;
      .controls-link {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .component-views {
    border-left: 1px solid $btn-grey;
    width: 75%;
    height: 89vh;
    .create-work-order {
      height: 100%;
      .header {
        text-align: center;
        border-left: 1px solid $btn-grey;
        border-bottom: 1px solid $btn-grey;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
          font-size: 1.5rem;
        }
      }
      .section-container {
        display: flex;
        width: 75%;
        margin: 0 auto;
        margin-top: 2rem;
        height: 75%;
        .work-order-request,
        .company-info,
        .work-description,
        .property-img,
        .property-selector {
          border: 3px solid #22668a;
          height: 50%;
        }
        .section-title {
          font-size: 1.25rem;
          text-align: center;
          height: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .property-section {
          width: 50%;
          margin: 0 auto;
          position: relative;
          .property-img {
            position: relative;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .work-order-request {
            .property-buttons {
              width: 75%;
              margin: 0 auto;
              position: relative;
              top: 25%;
              display: flex;
              justify-content: space-between;
              .btn {
                width: 40%;
                font-size: 1.15rem;
              }
            }
          }
          .property-selector {
            position: absolute;
            text-align: center;
            width: 100%;
            height: 50%;
            top: 0;
            background-color: rgba($color: #000000, $alpha: 0.7);
            padding-bottom: 3%;
            .select-container {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              height: 100%;
              width: 70%;
              margin: 0 auto;
              h6 {
                font-size: 1rem;
                margin-bottom: 0.25rem;
              }
              select {
                padding: 0.25rem;
              }
            }
          }
        }
      }
      .company-section {
        width: 50%;
        .company-info {
          .input-container {
            width: 90%;
            margin: 0 auto;
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .input-group {
              display: flex;
              align-items: center;
              width: 100%;
              h6 {
                font-size: 1rem;
                width: 15%;
              }
              input {
                width: 85%;
                border: none;
                background-color: transparent;
                border-bottom: 1px solid #171717;
                color: #fff;
                padding: 3px 0;
              }
              input:focus {
                outline: none;
              }
            }
          }
        }
        .work-description {
          .description-box {
            width: 90%;
            margin: 0 auto;
            height: 75%;
            .text-box {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              padding: 10px;
            }
          }
        }
      }
    }
    .job-queue {
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .job-queue-header {
        height: 12%;
        border-bottom: 1px solid $btn-grey;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        justify-content: center;
        h4 {
          font-size: 1.5rem;
        }
        .job-number {
          font-size: 0.9rem;
          position: relative;
          bottom: 0.25vh;
        }
      }
      .job-queue-container {
        height: 75%;
        border-bottom: 1px solid $btn-grey;
        .job {
          display: flex;
          border: 1px solid $btn-grey;
          height: 17%;
          justify-content: space-between;
          align-items: center;
          padding: 0 1rem;
          margin-bottom: 0.75rem;
          .job-id {
            font-size: 1.25rem;
          }
          .job-date {
            .date {
              margin-bottom: 0.25rem;
            }
          }
          .job-elapsed-time {
            font-size: 1.5rem;
          }
          .job-controls {
            font-size: 1.25rem;
            display: flex;
            justify-content: space-between;
            width: 10%;
            .action {
              i {
                font-size: 1.75rem;
                transition: all 1s;
              }
              &:hover {
                cursor: pointer;
              }
            }
            .action:first-child {
              i:hover {
                color: #ffcf40;
              }
            }
            .action:last-child {
              i:hover {
                color: #4cd765;
              }
            }
          }
        }
      }
    }
    .completed-jobs {
      height: 100%;
      .job-header {
        border-bottom: 1px solid $btn-grey;
        border-left: 1px solid $btn-grey;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
          font-size: 1.5rem;
        }
      }
      .completed-jobs-container {
        padding: 0 1rem 1rem 1rem;
        display: flex;
        flex-wrap: wrap;
        height: 79%;
        width: 100%;
        border-bottom: 1px solid $btn-grey;
        i:hover {
          cursor: pointer;
        }
        .work-order-list {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          .work-order {
            height: 32vh;
            width: 31%;
            margin-top: 1rem;
            .work-order-info {
              height: 100%;
              position: relative;
              img {
                height: 100%;
                width: 100%;
              }
              .cancel-icon {
                position: absolute;
                top: 2%;
                font-size: 1.25rem;
                right: 10%;
                color: red;
                z-index: 5;
              }
              .work-order-content {
                position: absolute;
                top: 0;
                background-color: rgba(0, 0, 0, 0.7);
                height: 100%;
                width: 100%;
                padding: 0.5rem;
                overflow-y: auto;
                h5 {
                  font-size: 1.25rem;
                  text-align: center;
                }
                p,
                h5 {
                  margin-bottom: 0.5rem;
                }
                .company-info {
                  border-bottom: 1px solid $btn-grey;
                  margin: 0.5rem 0;
                }
                .job-description {
                  text-align: center;
                }
              }
            }
            .card-img-header {
              position: relative;
              height: 100%;
              width: 100%;
              img {
                height: 100%;
                width: 100%;
              }
              .card-overlay {
                position: absolute;
                bottom: 0;
                padding-top: 2%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                h5 {
                  text-align: center;
                  font-size: 1.25rem;
                  margin-bottom: 0.25rem;
                }
                p {
                  font-size: 0.8rem;
                  text-align: center;
                }
                .card-controls {
                  display: flex;
                  width: 50%;
                  margin: 0 auto;
                  padding: 5px 0;
                  justify-content: space-between;
                }
              }
            }
          }
          .work-order:nth-child(3n + 2) {
            margin-left: 3%;
            margin-right: 3%;
          }
        }
        .edit-work-order {
          width: 95%;
          height: 27rem;
          margin: 0 auto;
          padding-top: 1rem;
          display: flex;
          .property-info-container {
            height: 100%;
            width: 40%;
            background-color: #395d7c;
            .property-address {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 1.5rem;
              h4 {
                font-size: 1.1rem;
              }
            }
            .property-img {
              height: 70%;
              img {
                height: 100%;
                width: 100%;
              }
            }
            .edit-buttons {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0 1rem;
              width: 100%;
              button {
                width: 45%;
                height: 60%;
                padding: 8px 3px;
              }
            }
          }
          .work-order-info-container {
            width: 60%;
            height: 100%;
            border: 1px solid $btn-grey;
            .form {
              padding: 2rem 1rem;
              .input-group {
                margin-bottom: 1rem;
                display: flex;
                justify-content: space-between;
                label {
                  font-size: 1.25rem;
                }
                input {
                  border-radius: 3px;
                  padding: 4px 12px;
                  width: 60%;
                }
              }
              textarea {
                width: 60%;
                border-radius: 3px;
                height: 11rem;
                padding: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
