.component-workOrders {
    display: flex;
    .control-panel {
        width: 25%;
        border: 1px solid $btn-grey;
        color: #fff;
        min-height: 89vh;
        .control-panel-header {
            display: flex;
            border-bottom: 1px solid $btn-grey;
            padding: 1rem;
            h3 {
                font-size: 1.75rem;
            }
            h5 {
                position: relative;
                display: flex;
                color: lightgray;
                align-items: center;
                position: relative;
                position: relative;
                top: 0.47vh;
                margin-left: 0.5rem;
            }
        }
        .controls {
            padding: 1rem;
            .controls-link {
                margin-bottom: 1rem;
                font-size: 1.25rem;
            }
        }
    }
    .component-views {
        border: 1px solid orange;
        width: 75%;
        height: 89vh;
        color: #fff;
        .add-job {
            height: 100%;
            .job-order-form {
                border: 3px solid green;
                width: 90%;
                height: 100%;
                margin: 0 auto;
                .form-header {
                    text-align: center;
                    border: 1px solid red;
                    height: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h4 {
                        font-size: 1.5rem;
                    }
                }
                .form-body {
                    padding: 0 2rem;
                    height: 70%;
                    margin-top: 2%;
                    border: 3px solid orange;
                    display: flex;
                    justify-content: space-between;
                    h5 {
                        font-size: 1.25rem;
                        margin: 1% 0;
                    }
                    .input-group {
                        margin-bottom: 0.5rem;
                        h6 {
                            font-size: 1rem;
                            margin-bottom: 0.25rem;
                        }
                        input {
                            padding: 6px 2px;
                            border-radius: 5px;
                        }
                        select {
                            padding: 6px 2px;
                            border-radius: 5px;
                        }
                    }
                    .form-right-side {
                        width: 50%;
                    }
                    .form-left-side {
                        width: 45%;
                    }
                    .job-description {
                        height: 69%;
                        position: relative;
                        top: 10%;
                        h5 {
                            text-align: center;
                            margin-bottom: 0.5rem;
                        }
                        textarea {
                            height: 100%;
                            width: 100%;
                            border-radius: 10px;
                            padding: 1rem;
                        }
                    }
                }
                .form-footer {
                    border: 1px solid red;
                    padding: 8px 0;
                    height: 10%;
                    display: flex;
                    justify-content: center;
                    margin-top: 3%;
                    button {
                        padding: 6px 12px;
                        border-radius: 5px;
                    }
                    button:first-child {
                        margin-right: 2%;
                    }
                }
            }
        }
        .job-queue {
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .job-queue-header {
                height: 12%;
                border-bottom: 1px solid $btn-grey;
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                justify-content: center;
                h4 {
                    color: #fff;
                    font-size: 1.5rem;
                }
                .job-number {
                    font-size: 0.9rem;
                    position: relative;
                    bottom: 0.25vh;
                }
            }
            .job-queue-container {
                height: 75%;
                border: 1px solid yellow;
                .job {
                    display: flex;
                    border: 1px solid blue;
                    height: 17%;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 1rem;
                    color: #fff;
                    margin-bottom: 0.75rem;
                    .job-house-img {
                        border: 1px solid green;
                        height: 100%;
                        width: 15%;
                    }
                    .job-id {
                        font-size: 1.25rem;
                    }
                    .job-date {
                        .date {
                            margin-bottom: 0.25rem;
                        }
                    }
                    .job-elapsed-time {
                        font-size: 1.5rem;
                    }
                    .job-controls {
                        font-size: 1.25rem;
                        display: flex;
                        justify-content: space-between;
                        width: 10%;
                        .action {
                            i {
                                font-size: 1.75rem;
                                transition: all 1s;
                            }
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .action:first-child {
                            i:hover {
                                color: #FFCF40;
                            }
                        }
                        .action:last-child {
                            i:hover {
                                color: #4CD765;
                            }
                        }
                    }
                }
            }
            .pagination {
                height: 8%;
                position: relative;
                margin: 0 auto;
            }
        }
        .completed-jobs {
            height: 100%;
            .job-header {
                border: 1px solid red;
                height: 12%;
                display: flex;
                justify-content: center;
                align-items: center;
                h4 {
                    font-size: 1.5rem;
                }
            }
            .completed-jobs-container {
                padding: 0 1rem 1rem 1rem;
                display: flex;
                flex-wrap: wrap;
                border: 1px solid blue;
                height: 79%;
                width: 100%;
                i:hover{
                    cursor: pointer;
                }
                .work-order-list {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    .work-order {
                        height: 32vh;
                        width: 31%;
                        margin-top: 1rem;
                        border: 1px solid red;
                        .work-order-info {
                            border: 1px solid green;
                            height: 100%;
                            position: relative;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                            .cancel-icon {
                                position: absolute;
                                top: 2%;
                                font-size: 1.25rem;
                                right: 10%;
                                color: red;
                                z-index: 5;
                            }
                            .work-order-content {
                                position: absolute;
                                top: 0;
                                background-color: rgba(0, 0, 0, 0.7);
                                height: 100%;
                                width: 100%;
                                padding: 0.5rem;
                                overflow-y: auto;
                                h5 {
                                    font-size: 1.25rem;
                                    text-align: center;
                                }
                                p,
                                h5 {
                                    margin-bottom: 0.5rem;
                                }
                                .company-info {
                                    border-bottom: 1px solid $btn-grey;
                                    margin: 0.5rem 0;
                                }
                                .job-description {
                                    text-align: center;
                                }
                            }
                        }
                        .card-img-header {
                            border: 1px solid red;
                            position: relative;
                            height: 100%;
                            width: 100%;
                            border: 1px solid green;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                            .card-overlay {
                                position: absolute;
                                bottom: 0;
                                padding-top: 2%;
                                width: 100%;
                                background-color: rgba(0, 0, 0, 0.7);
                                h5 {
                                    text-align: center;
                                    font-size: 1.25rem;
                                    margin-bottom: 0.25rem;
                                }
                                p {
                                    font-size: 0.8rem;
                                    text-align: center;
                                }
                                .card-controls {
                                    display: flex;
                                    width: 50%;
                                    margin: 0 auto;
                                    padding: 5px 0;
                                    justify-content: space-between;
                                }
                            }
                        }
                    }
                    .work-order:nth-child(3n+2) {
                        border: 2px solid orange;
                        margin-left: 3%;
                        margin-right: 3%;
                    }
                }
                .edit-work-order {
                    border: 1px solid green;
                    width: 95%;
                    margin: 0 auto;
                    padding-top: 1rem;
                    display: flex;
                    .property-info-container {
                        height: 100%;
                        width: 40%;
                        border: 1px solid yellow;
                        .property-address {
                            text-align: center;
                            padding: 1rem 0;
                            background-color: #2E6B8D;
                            h4 {
                                font-size: 1.1rem;
                            }
                        }
                        .property-img {
                            height: 70%;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .edit-buttons {
                            display: flex;
                            justify-content: space-between;
                            width: 75%;
                            margin: 0 auto;
                            margin-top: 1rem;
                            button {
                                padding: 0.5rem 0;
                                width: 45%;
                            }
                        }
                    }
                    .work-order-info-container {
                        width: 60%;
                        border: 1px solid orange;
                        .form {
                            padding: 2rem 1rem;
                            .input-group {
                                margin-bottom: 1rem;
                                display: flex;
                                justify-content: space-between;
                                label {
                                    font-size: 1.25rem;
                                }
                                input {
                                    border-radius: 3px;
                                    padding: 4px 12px;
                                    width: 60%;
                                }
                            }
                            textarea {
                                width: 60%;
                                border-radius: 3px;
                                height: 27vh;
                                padding: 1rem;
                            }
                        }
                    }
                }
            }
            .pagination {
                height: 9%;
                margin-right: 1rem;
            }
        }
    }
}