// Colors
$btn-blue: #0786fc;
$btn-grey: #4d5765;
$primary-blue: #009ddb;
$light: #f9fdff;
$primary-red: #cb1b26;
$blue-green: #3a87a4;
$nav-blue: #222e55;
$light-grey: #171f39;
$side-panel: #171f39;
$border-dark: #0c101d;
$border-light: #4d5765;
$border-blue: #22668a;
$gold: #f58a07;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700");
$font-main: "Roboto Mono", monospace;
